@charset "ISO-8859-1";

h1{
	background: rgb(228,156,46,255) ;
    
	
}

#btnone{
	text-align: center;
}
#btntwo{
	text-align: center;
}
#btnthree{
	text-align: center;
}
#btnfour{
	text-align: center;
}